interactions:
- request:
    body: '{"login": "coturndns", "password": "rHhhqLbhGBdNT9zB5oHX8Afe"}'
    headers:
    method: POST
    uri: https://beta.api.core-networks.de/auth/token
  response:
    body:
      string: '{"token":"92liICvgxpB1EpX7Mv3-zDkkVnpNGHlCW4c8m8Mr5lU_0TdBKVSM9vL1zmi-9fNp","expires":3600}'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
    method: GET
    uri: https://beta.api.core-networks.de/dnszones/
  response:
    body:
      string: '[{"name":"fluchtkapsel.de","type":"master"}]'
    headers:
      Content-Type:
      - application/json; charset=utf-8
      Upgrade:
      - h2,h2c
    status:
      code: 200
      message: OK
version: 1
